<!-- footer start -->
<footer class="container-fluid pt-4 mt-3">
    <!--Footer Links-->
    <div class="container">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-4 pb-3">

            <!--First column-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="title mb-4 strong">Zendo Social</h6>
                <p class="lead">Digital Solutions with ease, allowing your business to focus on the important things.</p>
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="title mb-4 strong">Services</h6>
                <p><a href="#!">Web Design</a></p>
                <p><a href="#!">SEO</a></p>
                <p><a href="#!">Digital Marketing</a></p>
                <p><a href="#!">Reputation</a></p>
            </div>
            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="title mb-4 strong">Company Blogs</h6>
                <p><a href="#!">Jordan</a></p>
                <p><a href="#!">Andrew</a></p>
                
            </div>
            <!--/.Third column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Contact column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="title mb-4 strong ">Contact</h6>
                <p><i class="fa fa-home px-1 d-inline"></i> Richmond, VA</p>
                <p><i class="fa fa-envelope px-1 d-inline"></i> zendodigital@gmail.com</p>
                <p><i class="fa fa-phone px-1 d-inline"></i> 804.601.4644</p>
            </div>
            <!--/.Contact column-->

        </div>
        <!-- Footer links -->

        <hr>

        <div class="row py-3 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-8 col-lg-9">

                <!--Copyright-->
                <p class="text-center text-md-left grey-text">© 2017 Copyright: <a href="#"><strong> Zendosocial.com</strong></a></p>
                <!--/.Copyright-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-sm-2 col-md-4 col-lg-3 ml-lg-0">

                <!--Social buttons-->
                <!-- <nav class="nav-social navbar navbar-toggleable-md navbar-light">
					<div id="actionBar">
							<ul class="social navbar-nav">
								<li class="facebook nav-item">
									<a class="nav-link" href="#">
										<div class="circle">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</div>
									</a>
								</li>
								<li class="instagram nav-item">
									<a class="nav-link" href="#">
										<div class="circle">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</div>
									</a>
								</li>
								<li class="linkedin nav-item">
									<a class="nav-link" href="#">
										<div class="circle">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</div>
									</a>
								</li>
								<li class="linkedin nav-item">
									<a class="nav-link" href="#">
										<div class="circle">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</div>
									</a>
								</li>
							</ul>
					</div>
				</nav> -->
                <!--/.Social buttons-->

            </div>
            <!--Grid column-->

        </div>

    </div>
</footer>
<!--/.Footer-->









<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
