<% include partials/header %>

<!-- jumbotron start -->
<div class="jumbotron jumbo1"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 branding">
			<img class="logo" src="logo_201.jpg">
			<h5 class="toUpper">A contemporary digital marketing firm in Richmond VA. We excel in:</h5>
		
				<a href="#">Web Design,</a>
				<a href="#">SEO,</a>
				<a href="#">Digital Marketing,</a>
				<p class="d-inline">and</p>
				<a href="#">Reputation Management</a><span>.</span>
		</div>

		<div class="col-sm-6">
			<p>Zendo Digital makes running your business easier. Utilizing key marketing strategies, we enhance your customers' interactive experience with your brand. We can manage every aspect of your online presence, giving you the time to focus on what's most important: Your business.</p>

			<p>No matter the problem, we have the solution. Zendo will work tirelessly to provide digital solutions for common problems. Take a look at <a href="#services">Our Services</a> and see how we can help grow and manage your online presence.</p>
		</div>
	
	</div>
</div>

<div class="jumbotron jumbo2 centerHorizAndVert">
		<a href="/index/about" class="buttonTemplate">About Us</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<a href="" class="buttonTemplate">Web Design</a>
		</div>
		<div class="col-lg-8">
			<p>Our team creates stunning custom designs. Using the latest technologies, we will ensure that your business remains fresh and scalable in an ever-changing online landscape. Whether it's a large scale multi-user endeadvor, to a small, one page start-up app, we have the expertise to make your website a hit.</p>
		</div>
	</div>

<hr>
		<div class="row">
			<div class="col-lg-4">
				<a href="" class="buttonTemplate">SEO</a>
			</div>
			<div class="col-lg-8">
				<p>Search engine optimization is how often and with what keywords Google, Bing, or Yahoo will return your website in a search query. Each search engine handles these mechanics differently. Rather then spend hours learning the particulars, let our knowledge base aid you in getting your customers to your product or service faster and easier.</p>
			</div>
		</div>

<hr>

	<div class="row">
		<div class="col-lg-4">
			<a href="" class="buttonTemplate">Marketing</a>
		</div>
		<div class="col-lg-8">
			<p>Digital Marketing campaigns drive business. Our expertise includes e-mail marketing, pay-per-click campaigns, social media marketing, e-mail and lead generation, and geo-targeting. We'll help drive consumers to you, allowing the focus to be on your product. </p>
		</div>
	</div>

<hr>

	<div class="row">
		<div class="col-lg-4">
			<a href="" class="buttonTemplate">Reputation</a>
		</div>
		<div class="col-lg-8">
			<p>Your brand is only as strong as your reputation. Our reputation management services entail us responding to user comments and complaints acrros all your social media platforms. When it comes to your product, we will be the first line in ensuring strong brand loyalty among your customers, and will quickly and professionally resolve any disputes that may arise.</p>
		</div>
	</div>
	
<hr>	
	
	<div class="row">
		<div class="col-lg-4">
			<a href="" class="buttonTemplate">Feng Shui</a>
		</div>
		<div class="col-lg-8">
			<p>Most modern businesses rely on vast amounts of data. In the course of your daily business, if you ever find yourself lacking organization to all your very important customer data, we will review, prioritize, organize, and optimize your systems to better serve you. We believe that every piece of vital information should be at your fingertips. Allow us to optimize your work-flow, and feel everything fall into place.</p>
		</div>
	</div>
</div>


<% include partials/footer %>