@define-mixin atSmall {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1010px) {
		@mixin-content;
	}
}

@define-mixin clearFix {
	/*pseudo selector takes 
	content after row and clears it
	allowing the elements to display properly*/
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}