<% include partials/header %>

<!--jumbo-->
<div class="jumbotron aboutJumbo">
    <div class="container">
        <div class="overlay">
            <h1 class="text-left text-shadow white-text strong">Meet Our Team!</h1>
            <h4 class="text-left text-shadow white-text">Highly dedicated, trained professionals ready to solve your digital needs.</h4>
        </div>
    </div>
</div>
<!--/jumbo-->

<div class="container">
    <h1 class="text-center">Small Team, Dedicated Help</h1>
    <hr>
    <div class="row">
        <div class="col">
            <p>At Zendo Digital, we believe that small, lightweight, and minimalist are the way to go. If we are not encumbered with the weight of control, we can embrace the transient nature of the human condition.</p>
            <p>Utilizing scalable solutions for large problems, we can keep our size small while creating a large impact.</p>
        </div>
        <div class="col">
            <p>By using our company, you will meet us, know us, and get the 24/7 commitment of a large company, with all the benefits of having a one-to-one relationship.</p>
            <p>Please peruse our blogs to better know us. After that, talk with us to see how we can improve your business and enhance your ease of mind.</p>
        </div>
    </div>
<hr>
</div>



<!--about us cards-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <!--    <img class="img-thumbnail" src="https://cdn.fstoppers.com/styles/full/s3/media/2014/12/augspurger-80s-glamour-headshots-jason-hudson-fstoppers7.jpg">-->
        <!--</div>-->
        
            <div class="card">
                  <img class="card-img-top" style="height: 20rem;" src="https://cdn.fstoppers.com/styles/full/s3/media/2014/12/augspurger-80s-glamour-headshots-jason-hudson-fstoppers7.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Andrew Walters - Lead Developer</h4>
                    <p class="card-text">Andrew Walters is our lead developer. While studying music in university, he developed a passion for computer science. Since then, he has worked continuously to learn and improve his craft. After graduating from university, Andrew has worked in a variety of fields while learning and applying technological solutions. With his diverse background, he is able to understand an ecclectic set of problems and find innovative solutions to any need. As our lead developer, Andrew will be working to create stunning applications and implement novel solutions for our client base.</p>
                    <a href="#" class="btn btn-primary">Andrew's Blog</a>
                  </div>
                </div>
            </div>
            
        
        <div class="col-sm-6">
            <div class="card">
                  <img class="card-img-top" style="height:20rem;" src="https://cdn.fstoppers.com/styles/full/s3/media/2014/12/augspurger-80s-glamour-headshots-jason-hudson-fstoppers4.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title">Jordan Leonard - Marketing Guru</h4>
                    <p class="card-text">Jordan's a badass that'll shoot your ass in a heartbeat....brother.</p>
                    <a href="#" class="btn btn-primary">Andrew's Blog</a>
                  </div>
                </div>
            </div>
    </div>
</div>
<!--/cards-->


<% include partials/footer%>